/**
 * Place your custom styles here.
 * Great
 */

/* https://codepen.io/ericrasch/pen/zjDBx */
.form-select {
   background: url(/drupal/files/15xvbd5.png) no-repeat 96% 0;
   height: 29px;
   overflow: hidden;
   width: 240px;
    -moz-appearance: none;
    -webkit-appearance: none;
    appearance: none;
   background-color: #EEE; 
}

.form-select select {
   background: transparent;
   border: none;
   font-size: 14px;
   height: 29px;
   padding: 5px; /* If you add too much padding here, the options won't show in IE */
   width: 268px;
}

.form-select {
   -webkit-border-radius: 20px;
   -moz-border-radius: 20px;
   border-radius: 20px;
}

ul,li {
    position: relative;
    list-style: none;
    display: block;
    padding: 10px 15px; 
}

li a:hover {
   background-color: #eee;
   text-decoration: none;
   paadding: 10px 15px;
   list-style: none;
   position:relative;
   display:block;
}
